body {
    /*background: url(/static/logo/exports/bg2.jpg);*/
    background-image:url(/static/logo/exports/image16.gif);
    background-size: cover;
    background-attachment: fixed;
}

/*.login2 {
    padding: 15px;
    background: #eeeeee;
}*/


.login2 .login-wrapper {
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
    border-style: solid;
    border-color: black;
    background:#85929E;
}

.login2 .login-wrapper img {
    margin: 40px auto;
}

.login2 .login-wrapper .input-group-addon {
    padding: 8px 0;
    background: #f4f4f4;
    min-width: 48px;
    text-align: center;
}

.login2 .login-wrapper .input-group-addon i.falock {
    font-size: 18px;
}

.login2 .login-wrapper input.form-control {
    height: 48px;
    font-size: 15px;
    box-shadow: none;
}

.login2 .login-wrapper .checkbox {
    margin-bottom: 30px;
}

.login2 .login-wrapper input[type="submit"] {
    padding: 10px 0 12px;
    margin: 20px 0 30px;
}

.login2 .login-wrapper input[type="submit"]:hover {
    background: transparent;
}

.login2 .login-wrapper .social-login {
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}

.login2 .login-wrapper .social-login > .btn {
    width: 49%;
    margin: 0;
}

.login2 .login-wrapper .social-login .facebook {
    background-color: #335397;
    border-color: #335397;
}

.login2 .login-wrapper .social-login .facebook:hover {
    background-color: transparent;
    color: #335397;
}

.login2 .login-wrapper .social-login .twitter {
    background-color: #00c7f7;
    border-color: #00c7f7;
}

.login2 .login-wrapper .social-login .twitter:hover {
    background-color: transparent;
    color: #00c7f7;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}

.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    /*padding: 40px;*/
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="submit"] {
    background: #FF851B;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: rgba(0, 117, 217, 0.7);
}

.contenedor-form .reset-password {
    background: rgba(0, 117, 217, .7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}
