.login2(ng-controller='SignInCtrl')
  //img.className#IdName(src="/static/logo/exports/shelf_closeup_790x.jpg" alt="Image Title" width="1200" height="800")
  .login-wrapper
    a(href='./')
      img(width='160', height='160', src='/static/logo/exports/F-512.png', title='Choucair')
      


    body(style="background-color:red;")

    

    

    form(name='signin', novalidate, ng-submit='submit()', onload="sinVueltaAtras();", onpageshow="if (event.persisted) sinVueltaAtras();", onunload="")

    
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid', translate) Check errors below
        span(ng-show='error.$incorrect', translate) Diligencia todos los datos.
        span(ng-show='error.$server', translate) Server error. Check log output.


     
        
            //.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-user
                input.form-control(ng-model='username', name='username', required, type='text', placeholder='Usuario',
                autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
              .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$incorrect')
                span(ng-show='signin.username.$error.required', translate) Please enter your username  
                
                .form-group
                  .input-group
                    span.input-group-addon
                      i.fa.fa-envelope
                    input.form-control(ng-model='email', name='email', required, type='password', placeholder='E-mail',
                    autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login email')
                  .alert.alert-warning(ng-show='signin.email.$dirty && signin.email.$incorrect')
                    span(ng-show='signin.password.$error.password', translate) Please enter a valid email alejando
                    span(ng-show='signin.password.$error.required', translate) Please enter your email jei
                    span(ng-show='signin.email.$error.email', translate) Please enter a valid email alejando
                    span(ng-show='signin.email.$error.required', translate) Please enter your email jei
              
          //.grid-block(style="background-image: url('/static/logo/exports/shelf_closeup_790x.jpg'); width: 100%; height: 50vh; ")      
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='username', name='username', required, type='text', placeholder='Usuario',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
        .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
         span(ng-show='signin.username.$error.required', translate) Por favor ingrese su usuario
          
          
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input.form-control(ng-model='password', name='email', required, type='password', placeholder='Contraseña',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-password')
        .alert.alert-warning(ng-show='signin.email.$dirty && signin.email.$invalid')
         span(ng-show='signin.email.$error.required', translate) Por favor ingrese su contraseña
      
      
      //input.btn.btn-lg.btn-primary.btn-block(type='submit', ng-disabled='signin.username.$error.required || signin.email.$error.required', value='Iniciar sesión')
      button.btn.btn-primary(type='submit', ng-disabled='signin.username.$error.required || signin.email.$error.required', disabled='disabled') Iniciar sesión

      
      a.btn.btn-link(ng-href = "/#/auth/register") Registro










































    footer.footer
      //| Para mas informaci&oacute;n 
      //a(href='http://www.choucairtesting.com/') Ingresa aqu&iacute;
      //p

      a(href="http://www.choucairtesting.com/", style='color:black', ;='') Para mas información Ingresa aquí 


      //img(src="/static/logo/exports/shelf_closeup_790x.jpg", alt="hola", width="400", height="300")

    
   
    //input.btn.btn-lg.btn-primary.btn-block(type='submit', ng-disabled='signin.username.$error.required || signin.email.$error.required', value='Registro')
    
    
    //.login3(ng-controller='CreateCtrl')
    //form(name='register', novalidate, ng-submit='create()')
      body(ng-app='' onload="noback()")
        | Crear Cuenta: 
        input(type='checkbox', ng-model='myVar', name='checkbox')
        div(ng-show='myVar')
              .contenedor-form
                .toggle
                  span  Crear Cuenta
                .formulario
                  h2 Crea tu Cuenta
                  form(action='#')
                    input(type='text', ng-model='user_name', name='user_name', placeholder='Usuario')
                    input(type='password',ng-model='email',  name='email', placeholder='Contraseña', required='')
                    input(type='email', ng-model='correo',  name='correo', placeholder='Correo Electronico', required='')
                    input(type='text', ng-model='telefono',  name='telefono', placeholder='Teléfono', required='')
                    input.btn.btn-lg.btn-primary.btn-block(type='submit',onclick='alert("Bienvenido, ahora ya puedes acceder mediante tu usuario y contraseña")', value='Registrarse')
                .reset-password
                  a(href='http://www.choucairtesting.com/') Mas información
              script(src='js/jquery-3.1.1.min.js')
              script(src='js/main.js')
      meta(http-equiv='Cache-Control' content='no-cache')
      meta(http-equiv='Pragma' content='no-cache')
      meta(http-equiv='Expires' content='0')
      

              
      
      
         

        
        
