doctype html
html(ng-app='app')
  head
    title Choucair
    base(href='/')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    div(ng-view)
    script(src='static/app/build/entry/commons.entry.js')
    script(src='static/app/build/entry/authmock.entry.js')
    meta(http-equiv='Cache-Control' content='no-cache')
    meta(http-equiv='Pragma' content='no-cache')
    meta(http-equiv='Expires' content='0')
    

