.login2(ng-controller='OlvidoCtrl')
  .login-wrapper
    a(href='./')
      img(width='160', height='160', src='/static/logo/exports/success.svg', title='Choucair')
      


    body(style="background-color:red;")

    form(name='signin', novalidate, ng-submit='submit()', onload="sinVueltaAtras();", onpageshow="if (event.persisted) sinVueltaAtras();", onunload="")
    
    .alert.alert-success
      strong Éxito!
      |  Gracias por registrarte con nosotros.

    .alert.alert-info
      strong Información!
      |  Comunicate con el Administrador de la plataforma para activar tu cuenta.


  



              
      
      
         

        
        

