.login2(ng-controller='OlvidoCtrl')
  .login-wrapper
    a(href='./')
      img(width='160', height='160', src='/static/logo/exports/Noregister.svg', title='Choucair')
      


    body(style="background-color:red;")

    form(name='signin', novalidate, ng-submit='submit()', onload="sinVueltaAtras();", onpageshow="if (event.persisted) sinVueltaAtras();", onunload="")

    .alert.alert-danger
      strong 
      |  No se encuentra autorizado para acceder.
    
    .alert.alert-warning
      strong 
      |  Si ya se encuentra registrado comuniquese con el Administrador de la plataforma.





  



              
      
      
         

        
        

