.login2(ng-controller='OlvidoCtrl')
  .login-wrapper
    a(href='./')
      //img(width='160', height='160', src='/static/logo/exports/Register.svg', title='Choucair')
      


    body(style="background-color:red;")

    form(name='signin', novalidate, ng-submit='submit()', onload="sinVueltaAtras();", onpageshow="if (event.persisted) sinVueltaAtras();", onunload="")
    
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid', translate) Check errors below
        span(ng-show='error.$incorrect', translate) El campo teléfono debe de ser númerico.
        span(ng-show='error.$server', translate) Server error. Check log output.
  
      //.form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='username', name='username', required, type='text', placeholder='Usuario',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
        .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
         span(ng-show='signin.username.$error.required', translate) Por favor ingrese su usuario
          
          
      //.form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input.form-control(ng-model='password', name='password', required, type='password', placeholder='Contraseña',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-password')
        .alert.alert-warning(ng-show='signin.email.$dirty && signin.email.$invalid')
         span(ng-show='signin.email.$error.required', translate) Por favor ingrese su contraseña


 
      .form-group
        //.input-group
          span.input-group-addon
            i.fa.fa-envelope
        input.form-control(ng-model='correo', name='correo', required, type='color', placeholder='Diligencie todo por favor',
        autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-correo', value="#3f87a6", disabled, style="visibility:hidden")
        input.form-control(ng-model='telefono', name='telefono', required, type='telefono', placeholder='Teléfono',
        autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-telefono', style="visibility:hidden")
        input.form-control(ng-model='password', name='password', required, type='password', placeholder='Contraseña',
        autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-password', style="visibility:hidden")
        input.form-control(ng-model='username', name='username', required, type='text', placeholder='Usuario',
        autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username',  style="visibility:hidden")

      

      //.alert.alert-warning(ng-show='signin.email.$dirty && signin.email.$invalid')
        span(ng-show='signin.email.$error.required', translate) Por favor ingrese Correo Electronico


    //  .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-phone
          input.form-control(ng-model='telefono', name='telefono', required, type='telefono', placeholder='Teléfono',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-telefono')
        .alert.alert-warning(ng-show='signin.telefono.$dirty && signin.telefono.$invalid')
         span(ng-show='signin.telefono.$error.required', translate) Por favor ingrese su telefono

    //form
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.

         
          


      //button.btn.btn-primary(type='submit', ng-init="submitted=true",ng-click="register()", ng-disabled='signin.username.$error.required || signin.email.$error.required || signin.correo.$error.required || signin.telefono.$error.required', disabled='disabled') Registrate
      
      //a.btn.btn-primary(ng-click="register()", ng-disabled='signin.username.$error.required || signin.email.$error.required || signin.correo.$error.required || signin.telefono.$error.required', disabled='disabled') Registrate
      //.btn.btn-link(ng-href = "/#/auth/mock/") Cancelar
      //a.btn.btn-link(ng-href = "/#/auth/register/success") Registro
    
        
        
    form
      .form-group
         .input-group
          span.input-group-addon
            i.fa.fa-user
          label(for='validationDefaultUsername') 
          input#validationDefaultUsername.form-control(type='text' aria-describedby='username' required name='username' ng-model='username' placeholder='Usuario',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-username')
        .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
          span(ng-show='signin.email.$error.required', translate) Por favor ingrese Correo Electronico
    form
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input#exampleInputEmail1.form-control(type='password' aria-describedby='password' required ng-model='password' name='password' placeholder='Contraseña')
          small#emailHelp.form-text.text-muted
    form
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-envelope
          label(for='exampleInputEmail1')
          input#exampleInputEmail1.form-control(type='email' aria-describedby='correo' required ng-model='correo' name='correo' placeholder='example@gmail.com',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-correo')
        .alert.alert-warning(ng-show='signin.email.$dirty && signin.email.$invalid')
          span(ng-show='signin.email.$error.required', translate) Por favor ingrese Correo Electronico

    
    form
      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-phone
          input#exampleInputEmail1.form-control(type='number' aria-describedby='telefono' required ng-model='telefono' name='telefono' placeholder='Teléfono')
          small#emailHelp.form-text.text-muted
    

      button.btn.btn-primary(type='submit', ng-click="register()", ng-disabled='signin.username.$error.required || signin.email.$error.required || signin.correo.$error.required || signin.telefono.$error.required', disabled='disabled') Registrate
      
      //a.btn.btn-primary(ng-click="register()", ng-disabled='signin.username.$error.required || signin.email.$error.required || signin.correo.$error.required || signin.telefono.$error.required', disabled='disabled') Registrate
      a.btn.btn-link(ng-href = "/#/auth/mock/") Cancelar
      //a.btn.btn-link(ng-href = "/#/auth/register/success") Registro


  
  
 





      

  

          
              
      
      
         

        
        

