.stf-menu .stf-logo {
  background: url(../../common/logo/exports/F-512.png) no-repeat 0 0;
  width: 32px;
  height: 32px;
  float: left;
  text-indent: -9999em;
  margin: 6px 10px 0 0;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
}

.stf-menu .stf-top-bar {
  height: 44px;
  padding: 0 10px 0 20px;
  width: 100%;
  float: left;
}

.stf-menu .stf-nav {
  padding-left: 15px;
  text-align: left;
  margin: 0;
  float: left;
}

.stf-menu .stf-nav > li {
  padding-right: 15px;
  float: left;
  display: inline-block;
  text-align: left;
  position: relative;
  margin: 0;
}

.stf-menu .stf-nav > li > a {
  display: inline-block;
  text-align: left;
  padding: 0 !important;
  padding-right: 18px !important;
  padding-left: 14px !important;
  font-size: 15px;
  line-height: 44px;
  color: #777777;
  font-weight: 400;
  height: 44px;
  position: relative;
}

.stf-menu .stf-nav > li > a > span.fa {
  display: inline-block;
  float: left;
  margin: 8px 8px 0 0;
  font-size: 28px;
}

.stf-menu .stf-nav > li > a > span.fa-mobile {
  font-size: 30px;
}

.stf-menu .stf-nav > li > a.current {
  color: #007aff;
}

.stf-menu.navbar {
  height: 44px !important;
  min-height: 44px !important;
}
