.navbar.stf-menu(ng-controller='MenuCtrl')
  .container-fluid.stf-top-bar
    a.stf-logo(ng-href="/#!/devices") Choucair
    ul.nav.stf-nav(nav-menu='current').unselectable
      li(ng-cloak)
        a(ng-href='/#!/control/{{lastUsedDevice}}', ng-show='lastUsedDevice')
          span.fa.fa-mobile
          span(ng-if='!$root.basicMode', translate) Control
        a(ng-href='/#!/devices', accesskey='1')
          span.fa.fa-sitemap
          span(ng-if='!$root.basicMode', translate) Devices
        a(ng-href='/#!/settings')
          span.fa.fa-gears
          span(ng-if='!$root.basicMode', translate) Settings
    ul.nav.stf-nav.stf-feedback.pull-right(ng-cloak, nav-menu='current').unselectable
      li.stf-nav-web-native-button(ng-if='!$root.basicMode && isControlRoute')
        .btn-group
          button(type='button', ng-model='$root.platform', uib-btn-radio="'web'", translate).btn.btn-sm.btn-default-outline Web
          button(type='button', ng-model='$root.platform', uib-btn-radio="'native'", translate).btn.btn-sm.btn-default-outline Native
      li(ng-show='!$root.basicMode')
          //  <a href="#" onclick="location.href = document.referrer; return false;">lo
          //button(ng-click='leerCookie()' onload="nobackbutton();") Logout
          //button(ng-click='logout();' ng-href = "/#/auth/mock/") Salir
          a.btn.btn-link(ng-href = "http://testing.choucairtesting.com:7100/auth/mock/") Salir
          
          //<a href="gracias por visitarnos" onClick="setTimeout(function(){opener.location.reload(true) ; window.close();}, 5000);">Presione AQUI para Salir
          //<a href="javascript:window.close();">Close this window
          //<a href="javascript:if(confirm('Close window?'))window.close()">close
          //<a href="http://172.17.27.103:7100/auth/mock/" onclick="setTimeout(function(){var ww = window.open(window.location, '_self'); ww.close(); }, 1000);"> If you click on this the window will be closed after 1000ms
          //a(href='http://172.17.27.131.:7100/auth/mock/' onclick = "logout()") Cerrar Sesión
          //(button(onclick="Window.close()") Close
          //input(type = 'button' value = "Cerrar esta ventana" onclick = "self.close ()")
          //i.fa.fa-lock-open
          //| {{ "Cerrar sesión" | translate }}
  
      li(ng-show='!$root.basicMode')
        a(type='submit',onclick='alert("Si presentas inconvenientes con la herramienta,o si necesitas apoyo contactanos:                                                                                    jprios@choucairtesting.com                                                      jrolon@choucairtesting.com")')
          i.fa.fa-question-circle.fa-fw
          | {{ "Help" | translate }}
      meta(http-equiv='Cache-Control' content='no-cache')
      meta(http-equiv='Pragma' content='no-cache')
      meta(http-equiv='Expires' content='0')
      
    //  li(ng-show='!$root.basicMode')
        a(ng-href='/#!/help', accesskey='6')
          i.fa.fa-question-circle.fa-fw
          | {{ "Help" | translate }}
